 <header class="head">
        <a href="#" class="logo"><i class="fas fa-utensils"></i>Resto.</a>

        <nav class="navbar">
            <a class="home" href="/">home</a>
            <a class="dish" href="#dishes">dishes</a>
            <a class="about" href="#about">about</a>
            <a class="menu" href="#menu">menu</a>
            <a class="review" href="/register">sign up</a>
            <a class="order" href="/login">login</a>
        </nav>

        <div class="nav-items">
            <div class="menu-bar items"><i class="fas fa-bars bar"></i></div>
            <div class="search-bar items"><i class="fas fa-search"></i></div>
            <div class="heart-bar items"><i class="fas fa-heart"></i></div>
            <div class="cart-bar items"><i class="fas fa-shopping-cart"></i></div>
        </div>
</header>